In [22]:
# use libraries
import tensorflow as tf
import pandas as pd

In [23]:
# ready data
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [24]:
# 
alone = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
depand = boston[['medv']]
print(alone.shape, depand.shape)

(506, 13) (506, 1)

In [25]:
# build model

X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [26]:
# learn model
model.fit(alone, depand, epochs=1000, verbose=0)
model.fit(alone, depand, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 799us/step - loss: 25.9251
Epoch 2/10
16/16 [==============================] - 0s 865us/step - loss: 26.3556
Epoch 3/10
16/16 [==============================] - 0s 944us/step - loss: 26.1111
Epoch 4/10
16/16 [==============================] - 0s 782us/step - loss: 26.3157
Epoch 5/10
16/16 [==============================] - 0s 739us/step - loss: 26.4019
Epoch 6/10
16/16 [==============================] - 0s 746us/step - loss: 26.5257
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 26.2039
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.9816
Epoch 9/10
16/16 [==============================] - 0s 937us/step - loss: 26.5382
Epoch 10/10
16/16 [==============================] - 0s 807us/step - loss: 25.8669

In [27]:
# use model
model.predict(alone[5:10]) # 0 to 5

array([[26.424273],
       [21.420078],
       [18.341454],
       [ 9.752159],
       [17.934916]], dtype=float32)

In [28]:
depand[5:10] # 0 to 5

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [29]:
# check model
model.get_weights()

[array([[-0.08714059],
        [ 0.07185756],
        [-0.05516451],
        [ 3.3099687 ],
        [ 1.7950519 ],
        [ 4.096891  ],
        [ 0.0144004 ],
        [-0.8914152 ],
        [ 0.15264092],
        [-0.00928749],
        [-0.01690319],
        [ 0.01617395],
        [-0.5695554 ]], dtype=float32),
 array([2.4535222], dtype=float32)]

In [30]:
# use local path
path = './res/boston.csv'
temp = pd.read_csv(path)
print(temp.columns)

./res/boston.csv