In [1]:
# use libraries
import tensorflow as tf
import pandas as pd

In [2]:
# ready data
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
# 
alone = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
depand = boston[['medv']]
print(alone.shape, depand.shape)

(506, 13) (506, 1)

In [17]:
# build model

X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10, activation='swish')(X)
H = tf.keras.layers.Dense(10, activation='swish')(H)
H = tf.keras.layers.Dense(10, activation='swish')(H)
H = tf.keras.layers.Dense(10, activation='swish')(H)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [20]:
# build model

X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)
H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)
H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [18]:
model.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_3 (Dense)              (None, 10)                140
_________________________________________________________________
dense_4 (Dense)              (None, 10)                110
_________________________________________________________________
dense_5 (Dense)              (None, 10)                110
_________________________________________________________________
dense_6 (Dense)              (None, 10)                110
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 11
=================================================================
Total params: 481
Trainable params: 481
Non-trainable params: 0
_________________________________________________________________

In [5]:
# learn model
model.fit(alone, depand, epochs=1000)

NameError: name 'model' is not defined

In [16]:
# use model
print(model.predict(alone[5:10])) # 0 to 5

[[30.726294]
 [19.809462]
 [18.890104]
 [12.980627]
 [18.08177 ]]

In [7]:
depand[5:10] # 0 to 5

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [8]:
# check model
model.get_weights()

[array([[-0.0849328 ],
        [ 0.07349669],
        [-0.0532008 ],
        [ 3.3872912 ],
        [ 1.8362274 ],
        [ 3.8181286 ],
        [ 0.02141623],
        [-0.84168416],
        [ 0.14871642],
        [-0.00778292],
        [ 0.04053513],
        [ 0.01694564],
        [-0.59336424]], dtype=float32),
 array([2.5913806], dtype=float32)]

In [9]:
# use local path
path = './res/boston.csv'
temp = pd.read_csv(path)
print(temp.columns)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')