In [1]:
import pandas as pd

In [3]:
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
iris = pd.read_csv(path)
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [4]:
incode = pd.get_dummies(iris)
incode.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [5]:
iris.dtypes

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [6]:
iris['품종'].astype('category')

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: 품종, Length: 150, dtype: category
Categories (3, int64): [0, 1, 2]

In [7]:
incode = pd.get_dummies(iris)
incode.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [10]:
# check N/A
iris.isna().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       꽃잎길이    꽃잎폭  꽃받침길이   꽃받침폭     품종
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False  False  False  False
148  False  False  False  False  False
149  False   True  False  False  False

[150 rows x 5 columns]>

In [11]:
iris.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
145   6.7  3.0    5.2   2.3   2
146   6.3  2.5    5.0   1.9   2
147   6.5  3.0    5.2   2.0   2
148   6.2  3.4    5.4   2.3   2
149   5.9  NaN    5.1   1.8   2

In [12]:
# insert average value to na value

In [15]:
mean = iris['꽃잎폭'].mean()
iris['꽃잎폭'] = iris['꽃잎폭'].fillna(mean)
iris.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭  품종
145   6.7  3.000000    5.2   2.3   2
146   6.3  2.500000    5.0   1.9   2
147   6.5  3.000000    5.2   2.0   2
148   6.2  3.400000    5.4   2.3   2
149   5.9  3.054362    5.1   1.8   2