In [12]:
import pandas as pd

# load data from path
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(path)

path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
bosthon = pd.read_csv(path)

path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(path)

# show data from shape

print(lemonade.shape)
print(bosthon.shape)
print(iris.shape)

#print column name
print(lemonade.columns)
print(bosthon.columns)
print(iris.columns)

# divide alone, depand

alone = lemonade[['온도']]
depand = lemonade[['판매량']]
print(alone.shape, depand.shape)

alone = bosthon[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
depand = bosthon[['medv']]
print(alone.shape, depand.shape)

alone = iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
depand = iris[['품종']]
print(alone.shape, depand.shape)

lemonade.head()
bosthon.head()
iris.head()

(6, 2)
(506, 14)
(150, 5)
Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')
(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa